<!doctype html>
<html>
<head>
    <title>pipecleaner</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1>pipecleaner</h1>
    <h3> last update: {{ timestamp.ctime() }}</h3>
    <h3> data age: &#60; 1 hour </h3>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
  
    <table>
    <tr class="header">
        <td class="header_region"><a href="{{url_for('region')}}">Region</a></td>
        <td class="header">
            <a href="{{url_for('sortby', key='Dest')}}">Nullsec System</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Dest_ShipKills')}}">Ship Kills</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Dest_PodKills')}}">Pod Kills</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Dest_Jumps')}}">Jumps</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Entry')}}">Entry System</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Entry_ShipKills')}}">Ship Kills</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Entry_PodKills')}}">Pod Kills</a>
        </td>
        <td class="header">
            <a href="{{url_for('sortby', key='Entry_Jumps')}}">Jumps</a>
        </td>
    </tr>
    {% block content %}
    {% endblock %}
    </table>

<h4><a href="https://github.com/camillescott/pipecleaner">github.com/camillescott/pipecleaner</a></h4>
</body>
</html>
