<!doctype html>
<html>
<head>
    <title>pipecleaner</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1>pipecleaner</h1>
    <h3> last update: {{ timestamp.tz_localize('US/Pacific').tz_convert('UTC').ctime() }}</h3>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
  
    <table>
    <tr class="header">
        <td class="header_region">Region</td>
        <td class="header">Nullsec System</td>
        <td class="header">Ship Kills</td>
        <td class="header">Pod Kills</td>
        <td class="header">Jumps</td>
        <td class="header">Entry System</td>
        <td class="header">Ship Kills</td>
        <td class="header">Pod Kills</td>
        <td class="header">Jumps</td>
    </tr>
    {% for region, group in systems.groupby('Dest_Region') %}

        <tr class="region_div">
        <th class="region" rowspan="{{group.index.size}}"> {{ region }} </th>
        {% for _, system in group.sort_values('Dest').iterrows() %}
                <td>
                    <a href="http://zkillboard.com/system/{{system.Dest_ID}}/">{{ system.Dest }}</a>
                </td>
                <td>{{ kills.ix[system.Dest_ID].ship|int }}</td>
                <td>{{ kills.ix[system.Dest_ID].pod|int }} </td>
                <td>{{ jumps.ix[system.Dest_ID].jumps}}</td>

                <td>
                    <a href="http://zkillboard.com/system/{{system.Entry_ID}}/">{{ system.Entry }}</a> ({{system.Entry_Sec}})
                </td>
                <td>{{ kills.ix[system.Entry_ID].ship|int }}</td>
                <td>{{ kills.ix[system.Entry_ID].pod|int }} </td>
                <td>{{ jumps.ix[system.Entry_ID].jumps}} </td>

                </tr>
                <tr>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

<h4> Camille Scott, 2015: <a href="https://github.com/camillescott/pipecleaner">github.com/camillescott/pipecleaner</a></h4>
</body>
</html>
