<!doctype html>
<html>
<head>
    <title>pipecleaner</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1>pipecleaner</h1>
    <h3> last update: {{ timestamp.tz_localize('US/Pacific').tz_convert('UTC').ctime() }}</h3>
    <h3> data age: &#60; 1 hour </h3>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
  
    <table>
    <tr class="header">
        <td class="header_region"><a href="groupby/Region">Region</a></td>
        <td class="header"><a href="sortby/Dest">Nullsec System</a></td>
        <td class="header"><a href="sortby/Dest_ShipKills">Ship Kills</a></td>
        <td class="header"><a href="sortby/Dest_PodKills">Pod Kills</a></td>
        <td class="header"><a href="sortby/Dest_Jumps">Jumps</a></td>
        <td class="header"><a href="sortby/Entry">Entry System</a></td>
        <td class="header"><a href="sortby/Entry_ShipKills">Ship Kills</a></td>
        <td class="header"><a href="sortby/Entry_PodKills">Pod Kills</a></td>
        <td class="header"><a href="sortby/Entry_Jumps">Jumps</a></td>
    </tr>
    {% block content %}
    {% endblock %}
    </table>

<h4><a href="https://github.com/camillescott/pipecleaner">github.com/camillescott/pipecleaner</a></h4>
</body>
</html>
